.auth-container {
    display: flex;
    padding: 80px 65px 0px 65px;
}

.auth-info {
    margin-top: 40px;
    margin-right: 85px;
}

.auth-info-title {  
    margin-left: 60px;  
    font-size: 80px;
    line-height: 109px;
    letter-spacing: -0.015em;
    color: #263238;
}

.auth-info-subtitle {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;    
    color: #9E9E9E;
}