.filter-select-container {
  flex: 1;
  margin-right: 40px;

  .filter-select__control {
    height: 40px;
    border-radius: 0px !important;
    border: none;
    border-bottom: 1px solid #e1e1e1 !important;
  }

  .filter-select__single-value {
    color: #9e9e9e;
  }

  .filter-select__indicator-separator {
    display: none;
  }

  .filter-select__placeholder {
    color: #9e9e9e !important;
  }

  &:focus {
    box-shadow: none;
  }

  .css-1pahdxg-control:hover {
    box-shadow: none;
  }
}
