.schedule-card {
    //width: 246px;
    height: 100px;
    display: flex;
}

.schedule-check {
    border-radius: 10px 0px 0px 10px;
    height: 100px;
    width: 10px;
    display: flex;
    padding-top: 2px;
}

.schedule-info {
    margin: 5px 5px 5px 15px;
    
    h5 {
        color: #263238;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: -0.015em;

        //Limitando a quantidade de caracteres
        max-width: 20ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h6 {
        color: #263238;        
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: -0.015em;
    }
}

.schedule-info .schedule-price {
    font-size: 18px;
}

.schedule-info .schedule-currency {
    margin-top: 7px;
    font-size: 12px;
}