.schedule-card {
    //width: 246px;
    height: 140px;
    display: flex;
}

.schedule-check {
    border-radius: 10px 0px 0px 10px;
    height: 140px;
    width: 10px;
    background-color: #81C41D;
    display: flex;
    padding-top: 10px;
}

.schedule-info {
    margin: 15px 15px 25px 15px;
    
    h5 {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
    }

    h6 {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
    }
}

.schedule-price-container {
    margin-top: 15px;
    display: flex;
}

.schedule-currency {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.schedule-price {
    margin-left: 5px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #81C41D;
}