.schedule-card {
    //width: 246px;
    height: 140px;
    display: flex;
}

.schedule-check {
    border-radius: 10px 0px 0px 10px;
    height: 140px;
    width: 10px;
    background-color: #81C41D;
    display: flex;
    padding-top: 10px;
}

.schedule-info {
    margin: 15px 15px 25px 15px;
    
    h5 {
        color: #263238;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
    }

    h6 {
        color: #263238;
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
    }
}