.login-form {
    margin-top: 60px;
    text-align: start;
}

.login-link-recover {
    display: block; //O Link vem por padrão em display inline
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

.login-submit {
    margin-top: 150px;
    margin-bottom: 40px;
}