.main-nav {
  height: 70px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 0;
  color: #ffffff;
}

.main-manu {
  display: flex;
  justify-content: center;

  //Pegando a segunda li do main-menu
  li:nth-child(2) {
    margin-left: 20px;
  }
  //Pegando a terceira li do main-menu
  li:nth-child(3) {
    margin-left: 20px;
  }
  //Pegando o quarto li do main-menu
  li:nth-child(4) {
    margin-left: 20px;
  }
}

.nav-link {
  font-size: 18px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);

  &.active {
    font-weight: bolder;
    color: #ffffff;
  }

  &:hover {
    color: #ffffff;
  }
}

.main-manu-end {
}
