.schedule-price-container {
    margin-top: 15px;
    display: flex;
}

.schedule-currency {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.schedule-price {
    margin-left: 5px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #81C41D;
}