//Customizações do Bootstrap 

//Variáveis do bootstrap de customização
$theme-colors: (
    "primary": #81C41D
);

$body-bg: #F2F2F2;
$body-color: #263238;


@import '~bootstrap/scss/bootstrap.scss';