.select-base {
  width: 200px;
  height: 50px;
  border-radius: 10px !important;
  border: 1px solid #e1e1e1 !important;
}

.button-container-schedule {
  margin-top: 60px;
  text-align: end;
  display: flex;
  justify-content: space-between;
}

.btn-conclui {
  color: #81c41d;

  &:hover {
    color: #ffffff;
    background-color: #81c41d;
  }
}

.contente-client {
  text-align: start;
  color: #81c41d;
  margin-top: 20px;
  padding: 15px;
}

.input-id {
  max-width: 100px;
}

.input-name {
  max-width: 310px;
}
