.card-list-button {
  height: 38px;
  width: 210px;
  border-radius: 10px;

  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.015em;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
}

.card-list-container {
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
}
