.base-form {
    width: 1055px; //Configuração temporaria
    padding: 70px 45px 50px 45px;
}

.base-form-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
}

.base-form-actions .button-container {
    margin-top: 75px;
}