.footer-container {
    margin: 0;
    background: #e7e7e7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 55px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-top: 5px;
}

.footer-container-image {
    padding: 0px;
    align-items: flex-start;
}

.footer-logo {
    padding: 0px;
    height: 40px;
    width: 200px;
}

.footer-manu {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
}

.footer-manu-text {
    color: #000000;

    &:hover {
        text-decoration: none;
        color: unset; //Zerando o comportamento padrão de mudar de cor quando passa o mouse por cima
      }
}

.footer-container-copyright {
    padding: 0px;
    align-items: flex-end;
    margin-top: 5px;

    p {
        font-size: 10px;
        text-align: end;
    }
}