.roles-select__control {
  height: 50px;
  border-radius: 10px !important;
  border: 1px solid #e1e1e1 !important;
}

.roles-select__indicator-separator {
  display: none;
}

.roles-select__placeholder {
  color: #9e9e9e !important;
}

.roles-select__multi-value {
  background-color: #81c41d !important;
  color: #e1e1e1 !important;
}

.roles-select__multi-value__label {
  color: #e1e1e1 !important;
}

.container-form {
  display: flex;
  justify-content: center;
}

.form-text-info {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #81c41d;
}
